
/*HEADER CSS*/
*
{
  outline: none;
  margin: 0;
  padding:0;
}
ul li{
  list-style-type: none;
}
/* fonts*/
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Regular.woff');
}
.carousel{
	margin-top: -5%;
}
.navbar{
	z-index: 1000;
}
.logo{
	max-width: 100%;
	height: auto;
	
}


