
/*HEADER CSS*/
*
{
  outline: none;
  margin: 0;
  padding:0;
}
ul li{
  list-style-type: none;
}
/* fonts*/
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Regular.woff');
}
.carousel{
	margin-top: -10%;
}
.navbar{
	z-index: 1000;
}
.logo{
	margin-top: 4%;
	margin-left: 30%;
	margin-bottom: 4%;
}
.navbar-inverse{
	background: rgba(0,0,0,0.7);
	border: none;
}
.navbar-nav{
	padding: 18px 85px 12px 0;
}
.nav.navbar-nav>li>a{
	font-size: 12px;
	font-weight: 600;
	padding-right: 6px;
	padding-left: 6px;
	color: #fff;
	text-align: center;
}
.nav.navbar-nav>li>a:hover{
	color: #6FA962;
	transition: 0.5s;
}
.navbar-nav{
	margin: 0;
}
.nav.navbar-nav>.acti a{
	color: #6FA962;
}
.nav.navbar-nav>.acti a:hover{
	color: #6FA962;
}
@media (max-width: 1056px){
	.logo{
	width: 150px;
	height: auto;
	margin-left: 10px;
	margin-top: 7px;
	margin-bottom: 0;
	position: absolute;
	}
}
@media(max-width:1056px ){
	.navbar-nav{
		padding: 0 5px 0 0;
	}
}
@media(max-width: 1056px){
	.navbar{
		margin-top: 15px;
	}
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	border-color: #6FA962;
}
.navpicgrup3{
	padding: 0 0 0 0;
}
.img-responsive{
	margin: 15px auto;
	border-radius: 15px;
}
.img-responsive2{
	margin: 0 auto;
}
.content{
	padding: 0;
}
.owlowl{
	background: #323232;
}
.owl-carousel2{
	padding: 40px 0 0 0;
}
.price{
	background: #6FA962;
    text-align: center;
    padding: 10px 0 10px 0px;
    color: #fff;
    margin-bottom: 0;
    text-decoration: none;
}
.inf{
	padding: 0 0 0 0;
}
.inf div{
	background: #fff;
}
.footer-info{
	text-align: center;
}
.footer-info h2{
	border-bottom: 1px solid #6FA962;
	font-weight: 100;
	padding-bottom: 20px;
}
.comment{
	background: #F0F0F2;
	padding: 10px 20px 10px 0px;
}
.footer-list li{
	display: inline;
}
.footer-nav{
	text-align: center;
	background: #3C3C3C;
	padding: 7px 0px 1px 0px;
}
.footer-list li a{
	font-size: 11px;
	color: #fff;
	font-weight: 600;
}
span{
	color: #fff;
}
@media(max-width:768px ){
	.footer-list li{
		display: block;
	}
	span{
		display: none;
	}
}
.footbtn{
	text-align: center;
	margin: 25px 0 35px 0;
}
.btn{
	border-radius: 25px;
    padding: 10px 40px 10px 40px;
    background: #6FA962;
}
.btn:hover{
	box-shadow: 0 3px 12px 0 black;
	background: #6FA962;
}